storage:
   dbPath: "C:\\Users\\omar.botia\\Documents\\sharedBooks\\mongod\\data"
   wiredTiger:
    engineConfig:
        cacheSizeGB: 1
net:
   bindIp: localhost
   port: 27001
security:
   authorization: enabled  
systemLog:
   destination: file
   path: "C:\\Users\\omar.botia\\Documents\\sharedBooks\\mongod\\logs\\mongod.log"
   logAppend: true
operationProfiling:
   mode: "slowOp"
   slowOpThresholdMs: 50